@import './style/variables';

.app {
  background-color: $primary-color;
  color: white;
  //   width: 100vw;
  //height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  &__left {
    flex: 0.8;
    margin: 0 12px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__dropdown {
    color: $secondary-color !important;
    background-color: $bg-color;
  }

  &__infoitems {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    flex: 0.4;
  }
  &__rightbody {
    background-color: $bg-color;
    height: 100%;
  }
  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.MuiSelect-icon {
  color: $secondary-color !important;
}
